SmartShop.xcodeproj/project.xcworkspace/xcshareddata/
SmartShop.xcodeproj/project.xcworkspace/xcuserdata/
SmartShop.xcodeproj/xcuserdata/macowner.xcuserdatad/xcdebugger/
SmartShop.xcworkspace/xcuserdata/
jsServer/node_modules
Pods/
Podfile.lock
*.sqlite3
*.swp
